.gridLayout {
	display: grid;
	grid-template-columns: 10% repeat(1, 1fr) 10%;
	grid-template-rows: 5% repeat(1, 1fr);
  	gap: 20px;
	justify-content:center;
	min-height: 100vh;
}

.mainContent {
	grid-column-start: 2;
	grid-row-start: 2;
}

.headline {
	text-align: center;
}

.subHeadline {
	text-align: center;
}

.imageContainer {
	display: flex;
	justify-content: center;
}

.image {
	border-radius: 100%;
	overflow: hidden;
}

/*----------------------- Contact Section -----------------------*/
.contactWrapper {
	margin-top: 100px;
}

.contactHeadline {
	text-align: center;
}

.contactGrid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.contactItemsWrapper {
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

.contactItem {
	text-align: center;
	position: relative;
	width: 100%;
}

.seperator:after {
	content: "";
	position: absolute;
	display: block;
	width: 1px;
	height: 100%;
	background-color: white;
	right: 0;
	top: 0;
}

.contactLink {
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 600px) {
	.contactItemsWrapper {
		flex-direction: column;
		gap: 10px;
	}

	.seperator:after {
		display: none;
	}
}